grafana:
  adminPassword: '{{ grafana_password }}'

  ingress:
    enabled: true
    ingressClassName: public
    hosts:
      - grafana.klucsik.fun
    tls:
      - secretName: wildcard.klucsik.fun-tls
        hosts:
          - grafana.klucsik.fun

alertmanager:

  ingress:
    enabled: true
    ingressClassName: public
    annotations:
      # type of authentication
      nginx.ingress.kubernetes.io/auth-type: basic
      # prevent the controller from redirecting (308) to HTTPS
      nginx.ingress.kubernetes.io/ssl-redirect: 'true'
      # name of the secret that contains the user/password definitions
      nginx.ingress.kubernetes.io/auth-secret: basic-auth
      # message to display with an appropriate context why the authentication is required
      nginx.ingress.kubernetes.io/auth-realm: 'Authentication Required'
    hosts:
      - alertmanager.klucsik.fun
    tls:
      - secretName: wildcard.klucsik.fun-tls
        hosts:
          - alertmanager.klucsik.fun
  alertmanagerSpec:
    storage: 
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn-2
          accessModes: ["ReadWriteOnce"]
          resources:
              requests:
                storage: 10Gi

kubeEtcd:
  enabled: false

prometheus:
  prometheusSpec:
    retention: 30d
    retentionSize: 30GB
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn-2
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 40Gi
  ingress:
    enabled: true
    ingressClassName: public
    annotations:
      # type of authentication
      nginx.ingress.kubernetes.io/auth-type: basic
      # prevent the controller from redirecting (308) to HTTPS
      nginx.ingress.kubernetes.io/ssl-redirect: 'true'
      # name of the secret that contains the user/password definitions
      nginx.ingress.kubernetes.io/auth-secret: basic-auth
      # message to display with an appropriate context why the authentication is required
      nginx.ingress.kubernetes.io/auth-realm: 'Authentication Required'
    hosts:
      - prometheus.klucsik.fun
    paths:
      - /
    tls:
      - secretName: wildcard.klucsik.fun-tls
        hosts:
        - prometheus.klucsik.fun   
