# sudo certbot certonly --manual -d *.klucsik.fun
apiVersion: v1
kind: Secret
metadata:
  name: wildcard.klucsik.fun-tls
data:
  tls.crt: '{{ tls_crt }}'
  tls.key: '{{ tls_key }}'
type: kubernetes.io/tls

